@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}



header {
  position: sticky;
  top: 0;
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  background-color: rgba(255, 255, 255, 0.9);
}

.logo {
  font-size: 1.8rem;
  font-weight: 600;
  text-decoration: none;
}

.logo a {
  color: #000;
}

ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}

li {
 font-size: 1.2rem;
 font-weight: 500;
}
li a{
 color: #000;
}

li#btn-outline a {
  color: #ff5722; /* สีของตัวอักษร */
  border: 2px solid #ff5722; /* สีขอบ */
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  /* เมื่อเมาส์วางอยู่บนปุ่ม */
  &:hover {
    background-color: #ff5722;
    color: #fff; /* สีข้อความเมื่อ hover */
    border: 2px solid transparent; /* ลบขอบเมื่อ hover */
  }
}

li#btn-signin a {
  color: #fff; /* สีของตัวอักษรเป็นสีดำ */
  border: 2px solid #ff5722; /* สีขอบเป็นสีดำ */
  background-color: #ff5722;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;

  /* เมื่อเมาส์วางอยู่บนปุ่ม */
  &:hover {
    background-color: #e64a19;
  }
}

.heading {
  font-size: 60px;
  font-weight: 600;
  padding: 2rem;
  text-align: center;
  font-size: 28px;
  color: #333;
}